@{
    ViewData["Title"] = "Home Page | Study Planner";
    string callToAction = "Focus on your own progress.";
}

<div class="index">
    <div class="parallax position-relative">
        <div class="cta d-flex align-bottom text-center w-25 h-100">
            <div class="cta-text p-5">
                <p class="ctatext-c">@callToAction</p>
                <div class="cta-button align-bottom">
                    <a href="https://localhost:7013/Identity/Account/Login" class="btn btn-outline-light w-100">Let's get started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 bg-black">
        <div class="container d-flex justify-content-center align-items-center">R
                <div class="card bg-black text-white m-2" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-wrap">Promote efficient study habits</h5>
                    </div>
                </div>
                <div class="card bg-black text-white m-2" style="max-width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title fs-3  text-wrap">Encourage reflection and self-assessment</h5>
                    </div>
                </div>
            <div class="card bg-black text-white m-2" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fs-3  text-wrap">Organise your study habits</h5>
                </div>
            </div>
            </div>
        </div>
    </div>