/* _content/StudentPlanner/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-0ffebo5q35] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0ffebo5q35] {
  color: white;
}

.btn-primary[b-0ffebo5q35] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0ffebo5q35], .nav-pills .show > .nav-link[b-0ffebo5q35] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0ffebo5q35] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0ffebo5q35] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0ffebo5q35] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0ffebo5q35] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0ffebo5q35] {
    position: relative;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.footer-text[b-0ffebo5q35] {
    font-family: 'IBM Plex Serif', 'DM Serif Display';
    text-wrap: wrap;
    font-size: 67px;
}

.offcanvas-body[b-0ffebo5q35] {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    font-weight: 780;
    font-size: 2.6em;
}

.offcanvas-footer[b-0ffebo5q35]{
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}


.offcanvas-header[b-0ffebo5q35] {
    background-color: #1E1E1E;
    color: white;
    text-align: center
}

navbar-nav li[b-0ffebo5q35] {
    color: white;
}
.logout-text[b-0ffebo5q35] {
    color: red;
}
